[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-ckeditor = "*"
pillow = "*"
whitenoise = "==5.1.0"
environs = {version = "==8.0.0", extras = ["django"]}
psycopg2-binary = "*"
gunicorn = "==19.9.0"

[dev-packages]

[requires]
python_version = "3.9"
