<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet"/>
    <link rel="stylesheet" href="static/css/style.css"/>
    <title>{% block title %}KingsDev_Blog{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Legacy Polyfills -->
    <script src="https://static.parastorage.com/unpkg/core-js-bundle@3.2.1/minified.js" nomodule=""></script>
    <script src="https://static.parastorage.com/unpkg/focus-within-polyfill@5.0.9/dist/focus-within-polyfill.js" nomodule=""></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=fetch" nomodule=""></script>

      <!-- Performance API Polyfills -->
    <script>
    (function () {
      var noop = function noop() {};
      if ("performance" in window === false) {
        window.performance = {};
      }
      window.performance.mark = performance.mark || noop;
      window.performance.measure = performance.measure || noop;
      if ("now" in window.performance === false) {
        var nowOffset = Date.now();
        if (performance.timing && performance.timing.navigationStart) {
          nowOffset = performance.timing.navigationStart;
        }
        window.performance.now = function now() {
          return Date.now() - nowOffset;
        };
      }
    })();
    </script>


  <script>
      window.firstPageId = 'c1dmp'
      // window.bi.sendBeat(12, 'Partially visible', {pageId: window.firstPageId})
      if (window.requestCloseWelcomeScreen) {
          window.requestCloseWelcomeScreen()
      }
      if (!window.__browser_deprecation__) {
          // window.fedops.phaseStarted('partially_visible')
      }
  </script>

      <!--pageHtmlEmbeds.bodyEnd start-->
      <script type="wix/htmlEmbeds" id="pageHtmlEmbeds.bodyEnd start"></script>

      <script type="wix/htmlEmbeds" id="pageHtmlEmbeds.bodyEnd end"></script>
      <!--pageHtmlEmbeds.bodyEnd end-->

  <!-- warmup data start -->
  <script type="application/json" id="wix-warmup-data">{"platform":{"ssrPropsUpdates":[{"comp-kso6xor7":{"isValid":false,"maxLength":100},"comp-kso6xota":{"isValid":false,"maxLength":250},"comp-kso6xotr":{"isValid":true,"maxLength":50},"comp-kso6xou7":{"isValid":true,"maxLength":250},"comp-kso6xoun":{"isValid":true},"comp-kso6xov4":{"isValid":true}}],"ssrStyleUpdates":[{"comp-kso6xoyg":{"visibility":"hidden !important"}}]},"appsWarmupData":{},"ooi":{"failedInSsr":{}}}</script>
  <!-- warmup data end -->

    <style>

      #circleBar{
        text-align: center;
        font-family: Tahoma;
        background-image: url("/static/assets/img/3.png"); width: 100%;
        background-size: 1400px;
      }

      #circleBar .round{
        min-height: 255px;
        margin-top: 30px;
        position: relative;
        margin-bottom: 20px;
      }

      #circleBar .round strong{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        transform: translate(-50%);
        font-size: 40px;
        color: #212121;
        font-weight: 100;
      }

      #circleBar span{
        display: block;
        color: #1d1b31;
        font-size: 17px;
        margin-top: 10px;
      }

      #circleBar span i{
        color: #e7c547;
        font-size: 22px;
        margin-right: 7px;
      }

      #circleBar button:hover{
        background-color: whitesmoke;
      }

      #question button:hover{
        background-color: #6ae9ff;
      }

      #park{
        background-image: url("/static/assets/img/p.png");
        background-size: 1400px 900px;
      }

      #nav_site{
        background-image: url("/static/assets/img/nav.png");
        background-size: 1600px 400px;
      }

      #instructors{
        background-image: url("/static/assets/img/3.png");
        background-size: 1600px 1500px;
      }

      #public{
        background-image: url("/static/assets/img/5.png");
        background-size: 1400px;
      }

      #park #park1{
        margin-top: 100px;

      }

      #park #animation_h #h1{
        margin: 0;
        padding: 0;
        letter-spacing: 5px;
        font-weight: bold;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        justify-content: center;
        align-items: center;
        position: relative;
        -webkit-text-stroke: 0.1vw #383d52;
        text-transform: uppercase;
      }
      #park #animation_h #h1::before
      {
        content: attr(data-text);
        position: absolute;
        letter-spacing: 5px;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        color: yellow;
        -webkit-text-stroke: 0cm #000000;
        border-right: 2px solid yellow;
        overflow: hidden;
        animation: animate 8s linear infinite;
      }
      @keyframes animate {
        0%,10%,100%
        {
          width: 0;
        }
        60%,70%,90%
        {
          width: 100%;
        }
      }

      /*cardig*/
      #public #card1{
        /*background: #1a252f;*/
        position: relative;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex-wrap: wrap;
        z-index: 1;
      }
      /*#public #card1::before*/
      /*{*/
      /*  content: '';*/
      /*  position: absolute;*/
      /*  top: 0;*/
      /*  left: 0;*/
      /*  width: 100%;*/
      /*  height: 100%;*/
      /*  background: linear-gradient(#2196f3,#f0f);*/
      /*  clip-path: circle(20% at right 70%);*/
      /*}*/
      #public #card1 .vanil
      {
        position: relative;
        width: 220px;
        height: 400px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
      }
      #public #card1 .vanil .content
      {
        padding: 20px;
        text-align: center;
        transform: translateY(100px);
        opacity: 0;
        transition: 0.5s;
      }
      #public #card1 .vanil:hover .content
      {
        transform: translateY(0px);
        opacity: 1;
      }
      #public #card1 .vanil .content h2
      {
        position: absolute;
        top: -80px;
        right: 30px;
        font-size: 8em;
        color: rgba(255, 255, 255, 0.05);
        pointer-events: none;
      }
      #public #card1 .vanil .content h3
      {
        font-size: 1.8em;
        color: #fff;
        z-index: 1;
      }
      #public #card1 .vanil .content p
      {
        font-size: 1em;
        color: #fff;
        font-weight: 300;
      }
      #public #card1 .vanil .content a
      {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-top: 15px;
        background: #FFF;
        color: #000;
        border-radius: 20px;
        text-decoration: none;
        font-weight: 500;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      }

    </style>

  </head>
  <body style="margin-top: 5px;">
    <!--  navbar-->
    <div id="SITE_CONTAINER" style="margin-bottom: 5px;">
      <nav id="nav_site" class="navbar navbar-expand-lg navbar-light rounded-pill" style="background-color: #F4B41A;">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="/static/assets/img/logo.png" width="48" height="48" class="rounded-circle" alt="">
                KingsDev Blog
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <p style="font-weight: bold; margin-top: 10px; margin-right: 10px">{{ user.username | title }}</p>
                        </li>
                    </ul>
                {% else %}
                    <form class="form-inline ml-auto">
                        <a href="{% url 'login' %}" class="btn btn-outline-light">Kirish</a>
                        <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Ro'yxatdan o'tish</a>
                    </form>
                {% endif %}
            </div>
        </nav>
    </div>

    <!-- Showcase -->
    <section id="park" class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
      <div class="dropdown" style="text-align: right; margin-right: 10px; margin-top: -35px">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Lists
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
            <li><a class="dropdown-item" href="{% url 'articles_list' %}">Posts</a></li>
            <li><a class="dropdown-item" href="#">Books</a></li>
            <li><a class="dropdown-item" href="{% url 'articles_new' %}">Yangi post</a></li>
            <li><a class="dropdown-item" href="{% url 'password_change'%}">Kalit so'zni almashtirish</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Chiqib ketish</a></li>
          </ul>
        </div>
      <div id="animation_h" class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <div class="dropdown-divider"></div>
            </br>
            <h1 id="h1" data-text="Welcome!">Welcome!</h1>
            </br>
            </br>
            </br>
            <h2>Become a Web Developer</h2>
            </br>
            </br>
            <h3>
              The web development industry has a future.
            </h3>
            </br>
          </div>
        </div>
      </div>
      <div id="park1" class="container">
        <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>
          <div class="input-group news-input">
            <input type="text" class="form-control" placeholder="Enter Email" />
            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#succses">Submit</button>
          </div>
        </div>
      </div>
      </br>
      </br>
    </section>

    <!-- Boxes -->
    <section  id="public" class="p-5 bg-dark">
      </br>
      </br>
      </br>
      <div id="card1" class="container">
        <div class="vanil">
            <div class="content">
                <h2>01</h2>
                <h3><img src="/static/assets/img/ins.png" width="80" height="80" class="rounded-circle mb-3" alt=""/></h3>
                <p>Through the Instagram page you will keep us
                  informed of new projects and information from different worlds!</p>
              <a href="#">Read More</a>
            </div>
        </div>
        <div class="vanil">
              <div class="content">
                  <h2>02</h2>
                  <h3><img src="/static/assets/img/Telegram-logo.png" width="150" height="95" class="rounded-circle mb-3" alt=""/></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ab dolor ea explicabo illum ipsam nihil.</p>
                <a href="#">Read More</a>
              </div>
        </div>
        <div class="vanil">
              <div class="content">
                  <h2>03</h2>
                  <h3><img src="/static/assets/img/face.png" width="90" height="90" class="rounded-circle mb-3" alt=""/></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusantium aliquid error.</p>
                <a href="#">Read More</a>
              </div>
        </div>
        <div class="vanil">
              <div class="content">
                  <h2>04</h2>
                  <h3><img src="/static/assets/img/git.png" width="92" height="90" class="rounded-circle mb-3" alt=""/></h3>
                  <p>Python Problems, Algorithms, C ++ Games, Python Turtles,
                  Django Projects, Django Rest Framework and more!</p>
                <a href="https://github.com/abdulazizkomilov">Read More</a>
              </div>
        </div>
      </div>
      </br>
      </br>
      </br>
    </section>

    <!--News-->
    <section id="learn" class="p-5 bg-dark text-light">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5">
            <h2>Programming news</h2>
            <p class="lead">
              On our site you can find news about programming,
              new technologies, meetups of our teachers and Artificial Intelligence!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
              reiciendis eius autem eveniet mollitia, at asperiores suscipit
              quae similique laboriosam iste minus placeat odit velit quos,
              nulla architecto amet voluptates?
            </p>
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="color: black">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Tesla Model S</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div>
                    <img src="/static/assets/img/s1.png" width="490" height="300" style="margin-left: 5px" alt=""/>
                  </div>
                  <div class="modal-body">
                    With the longest range and quickest acceleration of any electric vehicle in production,
                    Model S Plaid is the highest performing sedan ever built. Both Long Range and Plaid powertrains,
                    with updated battery architecture, are capable of back-to-back, consistent 1/4 mile runs.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="bi bi-chevron-right btn btn-info" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open next model</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="color: black">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Tesla Bot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div>
                    <img src="/static/assets/img/1.png" width="490" height="300" style="margin-left: 5px" alt=""/>
                  </div>
                  <div class="modal-body">
                    The Tesla CEO revealed the Tesla Bot this week during an event devoted to
                    advances in artificial intelligence. Described as "the next generation of
                    automation" on the Tesla website, the humanoid robot is
                    "capable of performing tasks that are unsafe, repetitive or boring."
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
                  </div>
                </div>
              </div>
            </div>
            <button class="bi bi-chevron-right btn btn-info" data-bs-toggle="modal" href="#exampleModalToggle" role="button">See Example</button>
          </div>
        </div>
      </div>
    </section>

        <!-- Boxes -->
    <section class="p-5 bg-light">
      <h3 style="text-align: center; font-weight: bold;">The biggest campaigns</h3></br>
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md-6 col-lg-3">
            <div class="card bg-dark">
              <div class="card-body text-center">
                <img src="/static/assets/img/apple.png" width="150" height="130" class="rounded-circle mb-3" alt=""/>
                <h3 class="card-title mb-3"><a href="http://apple.com"><p style="color: white">Apple</p></a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card bg-dark">
              <div class="card-body text-center">
                <img src="/static/assets/img/tesla2.png" width="150" height="130" class="rounded-circle mb-3" alt=""/>
                <h3 class="card-title mb-3"><a href="http://tesla.com"><p style="color: white">Tesla</p></a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card bg-dark">
              <div class="card-body text-center">
                <img src="/static/assets/img/google.png" width="150" height="130" class="rounded-circle mb-3" alt=""/>
                <h3 class="card-title mb-3"><a href="http://google.com"><p style="color: white">Google</p></a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card bg-dark">
              <div class="card-body text-center">
                <img src="/static/assets/img/amazon.png" width="150" height="130" class="rounded-circle mb-3" alt=""/>
                <h3 class="card-title mb-3"><a href="http://amazon.com"><p style="color: white">Amazon</p></a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--instructors-->
    <section id="instructors" class="p-5 bg-primary">
      <div class="container">
        <a href="http://mohirdev.uz"><h2 class="text-center text-white">Our Instructors</h2></a>
        <p class="lead text-center text-white mb-5">
        <h5><p style="text-transform: uppercase; font-weight: bold; text-align: center">Mohirdev team. The easiest and Uzbek language platform for learning programming!</p></h5>
          <h6><p style="font-style: italic; text-align: center">Our instructors all have 5+ years working as a web developer in the industry</p></h6>
        </p>
        <div class="row g-4">
          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img src="/static/assets/img/ustoz1.png" width="150" height="150" class="rounded-circle mb-3" alt=""/>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Anvar Narzullayev
                </button>
                <!-- Modal1 -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" style="color: #1a252f">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Anvar Narzullayev</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        1983-yil 23-noyabrda Toshkent sharida tug`ulgan. TATU ni tamomlagan. 2012-yil Janubiy Koreya
                        Respublikasi Yeungnam universitetining Axborot va Komunikatsiya texnalogiyalari yo`nalishida doktorlik
                        (PhD) ishini himoya qilgan. Turli yillarda C, C++, Delphi, Matlab, Java, JavaScript, va Python tillarida
                        dasturlar qilgan. Hozirda Malayziya Islom Universiteti Kompyuter texnalogiyalari kafedrasida yetakchi
                        mutaxassisi. Hamda <a href="http://mohirdev.uz">Mohirdev.uz</a> platformasi ustozlaridan.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="card-text">
                </p>
                <a href="https://t.me/sariqdevadmin"><i class="bi bi-telegram text-dark mx-1"></i></a>
                <a href="https://m.facebook.com/mohirdev"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="https://github.com/anvarnarz/"><i class="bi bi-github text-dark mx-1"></i></a>
                <a href="https://instagram.com/mohirdev?utm_medium=copy_link"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img src="/static/assets/img/muhammad.png" width="150" height="150" class="rounded-circle mb-3" alt=""/>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  Muhammad Xalil
                </button>
                <!-- Modal2 -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                  <div class="modal-dialog" style="color: #1a252f">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Muhammad Xalil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Toshkentda dasturchi bo`lib ishlaydi. <a href="http://mohirdev.uz">Mohirdev.uz</a> platformasi ustozlaridan.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="card-text">
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img src="/static/assets/img/said.png" width="150" height="150" class="rounded-circle mb-3" alt=""/>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                  Saidbek Arislonov
                </button>
                <!-- Modal3 -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                  <div class="modal-dialog" style="color: black">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Saidbek Arislonov</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        USA da dasturchi bo`lib ishlaydi. <a href="http://mohirdev.uz">Mohirdev.uz</a> platformasi ustozlaridan.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="card-text">
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img src="/static/assets/img/uligbek.png" width="150" height="150" class="rounded-circle mb-3" alt=""/>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                  Ulug`bek Samigjonov
                </button>
                <!-- Modal4 -->
                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                  <div class="modal-dialog" style="color: black">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">Ulug`bek Samigjonov</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        INHA universitetini tamomlagan. <a href="http://mohirdev.uz">Mohirdev.uz</a> platformasi ustozlaridan.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="card-text">
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
          <img src="/static/assets/img/all.png" width="300" height="600"  alt=""/>
        </div>
      </div>
    </section>

<!--    skills-->
    <section id="circleBar">
      </br>
      <h1>Circle Progress</h1>
      <p>
        The knowledge I have acquired
      </p>

      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="round" data-value="0.84" data-size="200" data-thickness="12">
              <strong></strong>
              <span><img src="/static/assets/img/html.png" width="30" height="30" class="rounded-circle mb-3" style="margin-left: 20px; margin-top: 15px" alt=""/>
              HTML
              </span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="round" data-value="0.68" data-size="200" data-thickness="12">
              <strong></strong>
              <span><img src="/static/assets/img/css.png" width="30" height="30" class="rounded-circle mb-3" style="margin-left: 20px; margin-top: 15px" alt=""/>
              CSS
              </span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="round" data-value="0.81" data-size="200" data-thickness="12">
              <strong></strong>
              <span><img src="/static/assets/img/Bootstrap_logo.svg.png" width="30" height="30" class="rounded-circle mb-3" style="margin-left: 20px; margin-top: 15px" alt=""/>
              Bootstrap
              </span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="round" data-value="0.77" data-size="200" data-thickness="12">
              <strong></strong>
              <span><img src="/static/assets/img/C++_Logo.svg.png" width="30" height="30" class="rounded-circle mb-3" style="margin-left: 20px; margin-top: 15px" alt=""/>
              C++
              </span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="round" data-value="0.35" data-size="200" data-thickness="12">
              <strong></strong>
              <span><img src="/static/assets/img/JavaScript_logo_2.svg.png" width="30" height="30" class="rounded-circle mb-3" style="margin-left: 20px; margin-top: 15px" alt=""/>
              JavaScript
              </span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="round" data-value="0.80" data-size="200" data-thickness="12">
              <strong></strong>
              <span><img src="/static/assets/img/al.png" width="30" height="30" class="rounded-circle mb-3" style="margin-left: 20px; margin-top: 15px" alt=""/>
              Algorithms
              </span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="round" data-value="0.90" data-size="200" data-thickness="12">
              <strong></strong>
              <span><img src="/static/assets/img/Python-logo-notext.svg.png" width="30" height="30" class="rounded-circle mb-3" style="margin-left: 20px; margin-top: 15px" alt=""/>
              Python
              </span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="round" data-value="0.89" data-size="200" data-thickness="12">
              <strong></strong>
              <span><img src="/static/assets/img/dj.png" width="30" height="30" class="rounded-circle mb-3" style="margin-left: 20px; margin-top: 15px" alt=""/>
              Django
              </span>
            </div>
          </div>

        </div>
      </div>
      <button class="btn btn-warning" onClick="Circlle('.round');">Refresh</button>
      </br>
      <div class="dropdown-divider"></div><div class="dropdown-divider"></div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.js">
    </script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.min.js">
    </script>

    <script>

      function Circlle(el){
        $(el).circleProgress({fill: {color: 'yellow'}})
        .on('circle-animation-progress', function(event, progress,
        stepValue){
          $(this).find('strong').text(String(stepValue.toFixed(2)).substr(2)+'%'
          );
        });
      };

      Circlle('round');

    </script>

    <!-- Question Accordion -->
    <section id="question" class="p-5">
      <div class="container">
        <h2 class="text-center mb-4">Frequently Asked Questions</h2>
        <div class="accordion accordion-flush" id="questions">
          <!-- Item 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-one">
                Where exactly are you located?
              </button>
            </h2>
            <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
              <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                beatae fuga animi distinctio perspiciatis adipisci velit maiores
                totam tempora accusamus modi explicabo accusantium consequatur,
                praesentium rem quisquam molestias at quos vero. Officiis ad
                velit doloremque at. Dignissimos praesentium necessitatibus
                natus corrupti cum consequatur aliquam! Minima molestias iure
                quam distinctio velit.
              </div>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two">
                How much does it cost to attend?
              </button>
            </h2>
            <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
              <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                beatae fuga animi distinctio perspiciatis adipisci velit maiores
                totam tempora accusamus modi explicabo accusantium consequatur,
                praesentium rem quisquam molestias at quos vero. Officiis ad
                velit doloremque at. Dignissimos praesentium necessitatibus
                natus corrupti cum consequatur aliquam! Minima molestias iure
                quam distinctio velit.
              </div>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three">
                What do I need to Know?
              </button>
            </h2>
            <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
              <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                beatae fuga animi distinctio perspiciatis adipisci velit maiores
                totam tempora accusamus modi explicabo accusantium consequatur,
                praesentium rem quisquam molestias at quos vero. Officiis ad
                velit doloremque at. Dignissimos praesentium necessitatibus
                natus corrupti cum consequatur aliquam! Minima molestias iure
                quam distinctio velit.
              </div>
            </div>
          </div>
          <!-- Item 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-four">
                How Do I sign up?
              </button>
            </h2>
            <div id="question-four" class="accordion-collapse collapse" data-bs-parent="#questions">
              <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                beatae fuga animi distinctio perspiciatis adipisci velit maiores
                totam tempora accusamus modi explicabo accusantium consequatur,
                praesentium rem quisquam molestias at quos vero. Officiis ad
                velit doloremque at. Dignissimos praesentium necessitatibus
                natus corrupti cum consequatur aliquam! Minima molestias iure
                quam distinctio velit.
              </div>
            </div>
          </div>
          <!-- Item 5 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-five">
                Do you help me find a job?
              </button>
            </h2>
            <div id="question-five" class="accordion-collapse collapse" data-bs-parent="#questions">
              <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                beatae fuga animi distinctio perspiciatis adipisci velit maiores
                totam tempora accusamus modi explicabo accusantium consequatur,
                praesentium rem quisquam molestias at quos vero. Officiis ad
                velit doloremque at. Dignissimos praesentium necessitatibus
                natus corrupti cum consequatur aliquam! Minima molestias iure
                quam distinctio velit.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact & Map -->
    <section class="p-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-md">
            <h2 class="text-center mb-4">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold">Full Name:</span> Abdulaziz Komilov
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Age:</span> ...20...
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Email:</span> abdulazizkomilov2001@gmail.com
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Address:</span> (UZ) Samarkand region
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Work:</span> Programmer
              </li>
              <li class="list-group-item">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="p-4 text-white text-center position-relative" style="background-color: grey">
      <div class="container">
        <p class="lead">Copyright &copy; 2021 Abdulaziz Komilov</p>
        <a href="#" class="position-absolute bottom-0 end-0 p-5" style="color: white">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>

    <script type="text/javascript">
      var VanillaTilt = (function () {
      'use strict';

      /**
       * Created by Sergiu Șandor (micku7zu) on 1/27/2017.
       * Original idea: https://github.com/gijsroge/tilt.js
       * MIT License.
       * Version 1.7.1
       */

      class VanillaTilt {
        constructor(element, settings = {}) {
          if (!(element instanceof Node)) {
            throw ("Can't initialize VanillaTilt because " + element + " is not a Node.");
          }

          this.width = null;
          this.height = null;
          this.clientWidth = null;
          this.clientHeight = null;
          this.left = null;
          this.top = null;

          // for Gyroscope sampling
          this.gammazero = null;
          this.betazero = null;
          this.lastgammazero = null;
          this.lastbetazero = null;

          this.transitionTimeout = null;
          this.updateCall = null;
          this.event = null;

          this.updateBind = this.update.bind(this);
          this.resetBind = this.reset.bind(this);

          this.element = element;
          this.settings = this.extendSettings(settings);

          this.reverse = this.settings.reverse ? -1 : 1;
          this.glare = VanillaTilt.isSettingTrue(this.settings.glare);
          this.glarePrerender = VanillaTilt.isSettingTrue(this.settings["glare-prerender"]);
          this.fullPageListening = VanillaTilt.isSettingTrue(this.settings["full-page-listening"]);
          this.gyroscope = VanillaTilt.isSettingTrue(this.settings.gyroscope);
          this.gyroscopeSamples = this.settings.gyroscopeSamples;

          this.elementListener = this.getElementListener();

          if (this.glare) {
            this.prepareGlare();
          }

          if (this.fullPageListening) {
            this.updateClientSize();
          }

          this.addEventListeners();
          this.updateInitialPosition();
        }

        static isSettingTrue(setting) {
          return setting === "" || setting === true || setting === 1;
        }

        /**
         * Method returns element what will be listen mouse events
         * @return {Node}
         */
        getElementListener() {
          if (this.fullPageListening) {
            return window.document;
          }

          if (typeof this.settings["mouse-event-element"] === "string") {
            const mouseEventElement = document.querySelector(this.settings["mouse-event-element"]);

            if (mouseEventElement) {
              return mouseEventElement;
            }
          }

          if (this.settings["mouse-event-element"] instanceof Node) {
            return this.settings["mouse-event-element"];
          }

          return this.element;
        }

        /**
         * Method set listen methods for this.elementListener
         * @return {Node}
         */
        addEventListeners() {
          this.onMouseEnterBind = this.onMouseEnter.bind(this);
          this.onMouseMoveBind = this.onMouseMove.bind(this);
          this.onMouseLeaveBind = this.onMouseLeave.bind(this);
          this.onWindowResizeBind = this.onWindowResize.bind(this);
          this.onDeviceOrientationBind = this.onDeviceOrientation.bind(this);

          this.elementListener.addEventListener("mouseenter", this.onMouseEnterBind);
          this.elementListener.addEventListener("mouseleave", this.onMouseLeaveBind);
          this.elementListener.addEventListener("mousemove", this.onMouseMoveBind);

          if (this.glare || this.fullPageListening) {
            window.addEventListener("resize", this.onWindowResizeBind);
          }

          if (this.gyroscope) {
            window.addEventListener("deviceorientation", this.onDeviceOrientationBind);
          }
        }

        /**
         * Method remove event listeners from current this.elementListener
         */
        removeEventListeners() {
          this.elementListener.removeEventListener("mouseenter", this.onMouseEnterBind);
          this.elementListener.removeEventListener("mouseleave", this.onMouseLeaveBind);
          this.elementListener.removeEventListener("mousemove", this.onMouseMoveBind);

          if (this.gyroscope) {
            window.removeEventListener("deviceorientation", this.onDeviceOrientationBind);
          }

          if (this.glare || this.fullPageListening) {
            window.removeEventListener("resize", this.onWindowResizeBind);
          }
        }

        destroy() {
          clearTimeout(this.transitionTimeout);
          if (this.updateCall !== null) {
            cancelAnimationFrame(this.updateCall);
          }

          this.reset();

          this.removeEventListeners();
          this.element.vanillaTilt = null;
          delete this.element.vanillaTilt;

          this.element = null;
        }

        onDeviceOrientation(event) {
          if (event.gamma === null || event.beta === null) {
            return;
          }

          this.updateElementPosition();

          if (this.gyroscopeSamples > 0) {
            this.lastgammazero = this.gammazero;
            this.lastbetazero = this.betazero;

            if (this.gammazero === null) {
              this.gammazero = event.gamma;
              this.betazero = event.beta;
            } else {
              this.gammazero = (event.gamma + this.lastgammazero) / 2;
              this.betazero = (event.beta + this.lastbetazero) / 2;
            }

            this.gyroscopeSamples -= 1;
          }

          const totalAngleX = this.settings.gyroscopeMaxAngleX - this.settings.gyroscopeMinAngleX;
          const totalAngleY = this.settings.gyroscopeMaxAngleY - this.settings.gyroscopeMinAngleY;

          const degreesPerPixelX = totalAngleX / this.width;
          const degreesPerPixelY = totalAngleY / this.height;

          const angleX = event.gamma - (this.settings.gyroscopeMinAngleX + this.gammazero);
          const angleY = event.beta - (this.settings.gyroscopeMinAngleY + this.betazero);

          const posX = angleX / degreesPerPixelX;
          const posY = angleY / degreesPerPixelY;

          if (this.updateCall !== null) {
            cancelAnimationFrame(this.updateCall);
          }

          this.event = {
            clientX: posX + this.left,
            clientY: posY + this.top,
          };

          this.updateCall = requestAnimationFrame(this.updateBind);
        }

        onMouseEnter() {
          this.updateElementPosition();
          this.element.style.willChange = "transform";
          this.setTransition();
        }

        onMouseMove(event) {
          if (this.updateCall !== null) {
            cancelAnimationFrame(this.updateCall);
          }

          this.event = event;
          this.updateCall = requestAnimationFrame(this.updateBind);
        }

        onMouseLeave() {
          this.setTransition();

          if (this.settings.reset) {
            requestAnimationFrame(this.resetBind);
          }
        }

        reset() {
          this.event = {
            clientX: this.left + this.width / 2,
            clientY: this.top + this.height / 2
          };

          if (this.element && this.element.style) {
            this.element.style.transform = `perspective(${this.settings.perspective}px) ` +
              `rotateX(0deg) ` +
              `rotateY(0deg) ` +
              `scale3d(1, 1, 1)`;
          }

          this.resetGlare();
        }

        resetGlare() {
          if (this.glare) {
            this.glareElement.style.transform = "rotate(180deg) translate(-50%, -50%)";
            this.glareElement.style.opacity = "0";
          }
        }

        updateInitialPosition() {
          if (this.settings.startX === 0 && this.settings.startY === 0) {
            return;
          }

          this.onMouseEnter();

          if (this.fullPageListening) {
            this.event = {
              clientX: (this.settings.startX + this.settings.max) / (2 * this.settings.max) * this.clientWidth,
              clientY: (this.settings.startY + this.settings.max) / (2 * this.settings.max) * this.clientHeight
            };
          } else {
            this.event = {
              clientX: this.left + ((this.settings.startX + this.settings.max) / (2 * this.settings.max) * this.width),
              clientY: this.top + ((this.settings.startY + this.settings.max) / (2 * this.settings.max) * this.height)
            };
          }


          let backupScale = this.settings.scale;
          this.settings.scale = 1;
          this.update();
          this.settings.scale = backupScale;
          this.resetGlare();
        }

        getValues() {
          let x, y;

          if (this.fullPageListening) {
            x = this.event.clientX / this.clientWidth;
            y = this.event.clientY / this.clientHeight;
          } else {
            x = (this.event.clientX - this.left) / this.width;
            y = (this.event.clientY - this.top) / this.height;
          }

          x = Math.min(Math.max(x, 0), 1);
          y = Math.min(Math.max(y, 0), 1);

          let tiltX = (this.reverse * (this.settings.max - x * this.settings.max * 2)).toFixed(2);
          let tiltY = (this.reverse * (y * this.settings.max * 2 - this.settings.max)).toFixed(2);
          let angle = Math.atan2(this.event.clientX - (this.left + this.width / 2), -(this.event.clientY - (this.top + this.height / 2))) * (180 / Math.PI);

          return {
            tiltX: tiltX,
            tiltY: tiltY,
            percentageX: x * 100,
            percentageY: y * 100,
            angle: angle
          };
        }

        updateElementPosition() {
          let rect = this.element.getBoundingClientRect();

          this.width = this.element.offsetWidth;
          this.height = this.element.offsetHeight;
          this.left = rect.left;
          this.top = rect.top;
        }

        update() {
          let values = this.getValues();

          this.element.style.transform = "perspective(" + this.settings.perspective + "px) " +
            "rotateX(" + (this.settings.axis === "x" ? 0 : values.tiltY) + "deg) " +
            "rotateY(" + (this.settings.axis === "y" ? 0 : values.tiltX) + "deg) " +
            "scale3d(" + this.settings.scale + ", " + this.settings.scale + ", " + this.settings.scale + ")";

          if (this.glare) {
            this.glareElement.style.transform = `rotate(${values.angle}deg) translate(-50%, -50%)`;
            this.glareElement.style.opacity = `${values.percentageY * this.settings["max-glare"] / 100}`;
          }

          this.element.dispatchEvent(new CustomEvent("tiltChange", {
            "detail": values
          }));

          this.updateCall = null;
        }

        /**
         * Appends the glare element (if glarePrerender equals false)
         * and sets the default style
         */
        prepareGlare() {
          // If option pre-render is enabled we assume all html/css is present for an optimal glare effect.
          if (!this.glarePrerender) {
            // Create glare element
            const jsTiltGlare = document.createElement("div");
            jsTiltGlare.classList.add("js-tilt-glare");

            const jsTiltGlareInner = document.createElement("div");
            jsTiltGlareInner.classList.add("js-tilt-glare-inner");

            jsTiltGlare.appendChild(jsTiltGlareInner);
            this.element.appendChild(jsTiltGlare);
          }

          this.glareElementWrapper = this.element.querySelector(".js-tilt-glare");
          this.glareElement = this.element.querySelector(".js-tilt-glare-inner");

          if (this.glarePrerender) {
            return;
          }

          Object.assign(this.glareElementWrapper.style, {
            "position": "absolute",
            "top": "0",
            "left": "0",
            "width": "100%",
            "height": "100%",
            "overflow": "hidden",
            "pointer-events": "none"
          });

          Object.assign(this.glareElement.style, {
            "position": "absolute",
            "top": "50%",
            "left": "50%",
            "pointer-events": "none",
            "background-image": `linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)`,
            "width": `${this.element.offsetWidth * 2}px`,
            "height": `${this.element.offsetWidth * 2}px`,
            "transform": "rotate(180deg) translate(-50%, -50%)",
            "transform-origin": "0% 0%",
            "opacity": "0",
          });
        }

        updateGlareSize() {
          if (this.glare) {
            Object.assign(this.glareElement.style, {
              "width": `${this.element.offsetWidth * 2}`,
              "height": `${this.element.offsetWidth * 2}`,
            });
          }
        }

        updateClientSize() {
          this.clientWidth = window.innerWidth
            || document.documentElement.clientWidth
            || document.body.clientWidth;

          this.clientHeight = window.innerHeight
            || document.documentElement.clientHeight
            || document.body.clientHeight;
        }

        onWindowResize() {
          this.updateGlareSize();
          this.updateClientSize();
        }

        setTransition() {
          clearTimeout(this.transitionTimeout);
          this.element.style.transition = this.settings.speed + "ms " + this.settings.easing;
          if (this.glare) this.glareElement.style.transition = `opacity ${this.settings.speed}ms ${this.settings.easing}`;

          this.transitionTimeout = setTimeout(() => {
            this.element.style.transition = "";
            if (this.glare) {
              this.glareElement.style.transition = "";
            }
          }, this.settings.speed);

        }

        /**
         * Method return patched settings of instance
         * @param {boolean} settings.reverse - reverse the tilt direction
         * @param {number} settings.max - max tilt rotation (degrees)
         * @param {startX} settings.startX - the starting tilt on the X axis, in degrees. Default: 0
         * @param {startY} settings.startY - the starting tilt on the Y axis, in degrees. Default: 0
         * @param {number} settings.perspective - Transform perspective, the lower the more extreme the tilt gets
         * @param {string} settings.easing - Easing on enter/exit
         * @param {number} settings.scale - 2 = 200%, 1.5 = 150%, etc..
         * @param {number} settings.speed - Speed of the enter/exit transition
         * @param {boolean} settings.transition - Set a transition on enter/exit
         * @param {string|null} settings.axis - What axis should be disabled. Can be X or Y
         * @param {boolean} settings.glare - What axis should be disabled. Can be X or Y
         * @param {number} settings.max-glare - the maximum "glare" opacity (1 = 100%, 0.5 = 50%)
         * @param {boolean} settings.glare-prerender - false = VanillaTilt creates the glare elements for you, otherwise
         * @param {boolean} settings.full-page-listening - If true, parallax effect will listen to mouse move events on the whole document, not only the selected element
         * @param {string|object} settings.mouse-event-element - String selector or link to HTML-element what will be listen mouse events
         * @param {boolean} settings.reset - false = If the tilt effect has to be reset on exit
         * @param {gyroscope} settings.gyroscope - Enable tilting by deviceorientation events
         * @param {gyroscopeSensitivity} settings.gyroscopeSensitivity - Between 0 and 1 - The angle at which max tilt position is reached. 1 = 90deg, 0.5 = 45deg, etc..
         * @param {gyroscopeSamples} settings.gyroscopeSamples - How many gyroscope moves to decide the starting position.
         */
        extendSettings(settings) {
          let defaultSettings = {
            reverse: false,
            max: 15,
            startX: 0,
            startY: 0,
            perspective: 1000,
            easing: "cubic-bezier(.03,.98,.52,.99)",
            scale: 1,
            speed: 300,
            transition: true,
            axis: null,
            glare: false,
            "max-glare": 1,
            "glare-prerender": false,
            "full-page-listening": false,
            "mouse-event-element": null,
            reset: true,
            gyroscope: true,
            gyroscopeMinAngleX: -45,
            gyroscopeMaxAngleX: 45,
            gyroscopeMinAngleY: -45,
            gyroscopeMaxAngleY: 45,
            gyroscopeSamples: 10
          };

          let newSettings = {};
          for (var property in defaultSettings) {
            if (property in settings) {
              newSettings[property] = settings[property];
            } else if (this.element.hasAttribute("data-tilt-" + property)) {
              let attribute = this.element.getAttribute("data-tilt-" + property);
              try {
                newSettings[property] = JSON.parse(attribute);
              } catch (e) {
                newSettings[property] = attribute;
              }

            } else {
              newSettings[property] = defaultSettings[property];
            }
          }

          return newSettings;
        }

        static init(elements, settings) {
          if (elements instanceof Node) {
            elements = [elements];
          }

          if (elements instanceof NodeList) {
            elements = [].slice.call(elements);
          }

          if (!(elements instanceof Array)) {
            return;
          }

          elements.forEach((element) => {
            if (!("vanillaTilt" in element)) {
              element.vanillaTilt = new VanillaTilt(element, settings);
            }
          });
        }
      }

      if (typeof document !== "undefined") {
        /* expose the class to window */
        window.VanillaTilt = VanillaTilt;

        /**
         * Auto load
         */
        VanillaTilt.init(document.querySelectorAll("[data-tilt]"));
      }

      return VanillaTilt;

      }());

    </script>
    <script>
      VanillaTilt.init(document.querySelectorAll(".vanil"),{
		max: 25,
		speed: 400,
        glare: true,
        "max-glare": 1,
	});
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiYnRyYXZlcnN5IiwiYSI6ImNrbmh0dXF1NzBtbnMyb3MzcTBpaG10eXcifQ.h5ZyYCglnMdOLAGGiL1Auw'
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-71.060982, 42.35725],
        zoom: 18,
      })
    </script>
  </body>
</html>