{% extends 'base.html' %}
{% load static %}

{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
    <br/>
    <div class="jumbotron">
        <h1 class="display-4" style="color: black">Assalom alaykum!</h1>
        <p class="lead" style="color: black">Abdulaziz Komilovning shaxsiy blogiga xush kelibsiz.</p>
        <hr class="my-4" style="color: black">
        <p>Bu yerda siz dasturlash va dasturchilarga oid so'nggi yangiliklardan xabardor bo'lib turasiz.</p>
        <p class="lead" style="color: black">
            <a class="btn btn-primary btn-lg" href="#" role="button">Postlarni ko'rish</a>
        </p>
    </div>

{% endblock content %}